<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<script src="{{url_for('static', filename='script.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="icon" src="{{url_for('static', filename='muggy.png')}}" type="image/gif" sizes="16x16">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
	<title>Breweries Of Canada</title>
	{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>