<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<script src="{{url_for('static', filename='script.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">	
<title>Breweries Of Canada</title>
	{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>