{%extends "base.html"%}
{%block content%}
	   <div>
          
          <div class = "dropdowncan">
          	<h1>Canadian Breweries</h1>
			  <h4>Because The World Deserves To Know</h4>
              <form method="post" action="/">
                <label for="provinces">Choose a province/territory</label>
                <select name="provinces" id="provinces">
                    <option value="Alberta">Alberta</option>
                    <option value="British_Columbia">British Columbia</option>
                    <option value="Manitoba">Manitoba</option>
                    <option value="New_Brunswick">New Brunswick</option>
                    <option value="Newfoundland">Newfoundland and Labrador</option>
                    <option value="Nova_Scotia">Nova Scotia</option>
                    <option value="Ontario">Ontario</option>
                    <option value="Prince_Edward_Island">Prince Edward Island</option>
                    <option value="Saskatchewan">Saskatchewan</option>
                    <option value="Territories">Yukon, Northwest Territories and Nunvavut</option>
                </select>
                <br/><br/>
                <input type="submit" value="Submit" id="subbut"/>
                </form>
          </div>
          	   <div>
          
            <div id="brewlist">
				
			  {%for i in brewlist%} 
          	<ol>{{i}}</ol>
			  {%endfor%} 
          </div>
		  <footer id="footer">
			<h4>Data pulled from beercrank.ca with many thanks</h4>
		</footer>
{%endblock%}